*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 30px;
}